.profile-edit-container {
  display: flex;
  max-width: 800px;
  border: 1px solid var(--main-border-color);
  background: #fff;
  /* flex: 1 0 0; */
}

.profile-edit-features {
  display: flex;
  flex-direction: column;
  width: 100%;
}