.footer-container {
  margin-left: 20px;
  margin-right: 20px;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(142,142,142);
  margin-top:50px;
}

.footer-items {
  margin-bottom: 10px;
  word-break: keep-all;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-items > span {
  margin-right: 20px;
  margin-bottom: 10px;
}