.footer-container {
  width:800px;
  margin-left: auto;
  margin-right: auto;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(142,142,142);
  margin-top:50px;
}

.footer-items {
  margin-bottom: 20px;
}

.footer-items > span {
  margin-right: 20px;
}