

.box-1 {
  margin-bottom: 10px;
}

.login-input-1 {
  margin-top: 40px;
}

.login-button {
  margin-top: 7px;
  padding-top: 5px;
}

.line {
  width: 80%;
  height: 30px;
  border-bottom: 1px rgb(219, 219, 219) solid;
}

.login-facebook-login-button {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(56, 81, 133);
  font-weight: bold;
  font-size: 1em;
  border: none;
  background-color: #fff;
  cursor: pointer;
}