.modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: rgba(219, 219, 219, 0.9);
    left: 0;
    top: 0;
}

.post-wrapper {
    width: 400px;
    background-color: white;
    border: solid 1px #dbdbdb; 
}

.post-image-container > img {
    width: 100%;
}

.post-user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.3em;
}
.post-user-profile > img {
    width: 2.5em;
    border-radius: 50%;
    padding: 3px;
}

.post-username {
    font-weight: bold;
    min-width: 100px;
    padding-right: 1em;
}

.post-content-container{
    padding: 0.5em 1em;
}

.like-btn-container {
    padding: 0.5em 1em;
}

.like-icon {
    font-size: 1.5em;
}

.icon-filled {
    color: red;
}

.liked-by-container {
    padding: 0 1em;
    font-weight: bold;
}

.time-container {
    padding: 0.2em 1em 0.5em 1em;
    color: rgb(144,144,144);
    border-bottom: rgb(144,144,144) 1px solid;
}
.comments-container {
    padding: 1em;
}

.comment-username {
    font-weight: bold;
    min-width: 100px;
    padding-right: 1em;
}

.comment-input-container {
    display: flex;
    padding: 1em;
}

.comment-input {
    width: 100%;
    border: 0;
    outline: none;
}

.comment-content {
    position: relative;
}

span.comment-delete {
    position: absolute;
    right: 0;
    font-size: 0.5em;
    cursor: pointer;
}

.post-button {
    color: rgb(62, 148, 238);
    font-weight: bold;
    padding-left: 5px;
    border: none;
    background: none;
}

.post-button:disabled {
    color: rgb(178, 222, 251)
}

.user-information-link {
    text-decoration: none;
    color: black;
}