.profile-element{
  display: flex;
  margin-bottom: 16px;
}

.profile-edit-label-box {
  /* width: 100%; */
  margin: 6px 0 0;
  padding : 0 32px;
  text-align: right;
  flex-grow:2;
}

.profile-edit-label {
  font-weight: 500;
}

.profile-edit-input-box{
  /* width: 100%; */
  padding: 0 60px 0 0;
  flex-grow:3;
}

.profile-edit-input {
  width: 333px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
}

.profile-edit-pic{
  width: 45px;
  border-radius: 50%;
  
}

.profile-element-pic{
  margin-top: 32px;
}

.pic-edit-box{
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-grow:8;
}

.pic-edit-box > span{
  font-size: 20px;
  margin-bottom:2px
}

.profile-pic-element{
  flex-grow:1;
}

.profile-change-button {
  width: fit-content;
  font-size: 13px;
  text-align:left;
}

.profile-edit-submit {
  color: #fff;
  background-color: rgb(0, 149, 246);
  border-radius: 5px;
  font-weight: 800;
  font-size: 1em;
  border: none;
  cursor: pointer;
  padding:7px 12px;
  position:relative;
  left: 140px;
}
/* *{box-sizing:border-box} */